@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@1,300&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@1,300&family=IBM+Plex+Serif:wght@500&family=Oswald:wght@500&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=DM+Mono:ital,wght@1,300&family=Oswald:wght@500&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@1,300&family=Oswald:wght@500&family=Roboto:wght@300&display=swap");
.gridcontainer {
  display: grid;
  grid-auto-rows: 150px;
  grid-template-rows: 100px 20px 130px 20px auto;
  grid-template-columns: 100px 50px 200px 25px 25px 600px 100px;
  grid-gap: 15px;
  min-width: 800px; }
  .gridcontainer .blueband {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: blue;
    padding: 20px; }
  .gridcontainer #picture {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
    padding-left: 20px;
    padding-right: 20px; }
    .gridcontainer #picture .profilepic {
      width: 200px;
      height: 200px;
      object-fit: cover;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
  .gridcontainer #namefunction {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 20px; }
    .gridcontainer #namefunction h1 {
      margin: 0px;
      line-height: 125%;
      color: white;
      font-family: 'IBM Plex Serif', serif; }
      .gridcontainer #namefunction h1 strong {
        font-size: 48px;
        color: white; }
    .gridcontainer #namefunction em {
      font-size: 24px;
      color: white;
      font-family: 'IBM Plex Serif', serif;
      padding-left: 200px; }
  .gridcontainer #contact {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7; }
  .gridcontainer #languages {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8; }
  .gridcontainer #advantages {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 9; }
  .gridcontainer #qualities {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 10; }
  .gridcontainer #formation {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 8; }
  .gridcontainer #proexperience {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 10; }
  .gridcontainer #otherexperience {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 10;
    grid-row-end: 12; }
    .gridcontainer #otherexperience .fctcomite {
      font-weight: bold; }
  .gridcontainer .mainsection {
    background-color: #c7dcee;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden; }
    .gridcontainer .mainsection .maintext {
      color: #194119;
      font-family: 'Roboto', sans-serif;
      line-height: 150%; }
  .gridcontainer .mainsection:hover {
    -moz-box-shadow: 0 0 3px #080829;
    -webkit-box-shadow: 0 0 3px #080829;
    box-shadow: 0 0 3px #080829; }
  .gridcontainer .mainsectionbig {
    width: 560px;
    min-height: 280px;
    padding: 19px;
    height: fit-content;
    height: max-content;
    border: 1px solid grey;
    z-index: 10; }
  .gridcontainer .sidesection {
    background-color: #e2e2e2;
    -moz-border-radius: 0 20px 20px 20px;
    -webkit-border-radius: 0 20px 20px 20px;
    border-radius: 0 20px 20px 20px;
    padding: 20px;
    overflow: hidden;
    width: 200px; }
    .gridcontainer .sidesection:hover {
      -moz-box-shadow: 0 0 3px #080829;
      -webkit-box-shadow: 0 0 3px #080829;
      box-shadow: 0 0 3px #080829; }
    .gridcontainer .sidesection .sidelist {
      list-style-type: none;
      margin-left: -30px; }
    .gridcontainer .sidesection .sidetext {
      color: #532c77;
      font-family: 'Roboto', sans-serif;
      line-height: 150%; }
  .gridcontainer .sidesectionbig {
    min-width: 250px;
    width: max-content;
    max-width: 250px;
    min-height: 110px;
    height: max-content;
    border: 1px solid grey;
    padding: 19px;
    z-index: 10; }
  .gridcontainer h2 {
    margin-top: 0;
    color: teal;
    font-family: 'Oswald', sans-serif; }
  .gridcontainer h3 {
    color: #25a0a8; }
